<h1>Editing notaria</h1>

<% form_for(@notaria) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :municipio_id %><br />
    <%= f.text_field :municipio_id %>
  </p>
  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @notaria %> |
<%= link_to 'Back', notarias_path %>