<h1>Listing notarias</h1>

<table>
  <tr>
    <th>Municipio</th>
    <th>Descripcion</th>
  </tr>

<% @notarias.each do |notaria| %>
  <tr>
    <td><%=h notaria.municipio_id %></td>
    <td><%=h notaria.descripcion %></td>
    <td><%= link_to 'Show', notaria %></td>
    <td><%= link_to 'Edit', edit_notaria_path(notaria) %></td>
    <td><%= link_to 'Destroy', notaria, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New notaria', new_notaria_path %>