<p>
  <b>Planesrecaudo:</b>
  <%=h @planesrespaldo.planesrecaudo_id %>
</p>

<p>
  <b>Personasobligacion:</b>
  <%=h @planesrespaldo.personasobligacion_id %>
</p>

<p>
  <b>Persona:</b>
  <%=h @planesrespaldo.persona_id %>
</p>

<p>
  <b>Nro cuota:</b>
  <%=h @planesrespaldo.nro_cuota %>
</p>

<p>
  <b>Cuota:</b>
  <%=h @planesrespaldo.cuota %>
</p>

<p>
  <b>Cuota ori:</b>
  <%=h @planesrespaldo.cuota_ori %>
</p>

<p>
  <b>Fecha vence:</b>
  <%=h @planesrespaldo.fecha_vence %>
</p>

<p>
  <b>Inicial:</b>
  <%=h @planesrespaldo.inicial %>
</p>

<p>
  <b>Inicial ori:</b>
  <%=h @planesrespaldo.inicial_ori %>
</p>

<p>
  <b>Amortiza:</b>
  <%=h @planesrespaldo.amortiza %>
</p>

<p>
  <b>Amortiza ori:</b>
  <%=h @planesrespaldo.amortiza_ori %>
</p>

<p>
  <b>Corriente:</b>
  <%=h @planesrespaldo.corriente %>
</p>

<p>
  <b>Corriente ori:</b>
  <%=h @planesrespaldo.corriente_ori %>
</p>

<p>
  <b>Final:</b>
  <%=h @planesrespaldo.final %>
</p>

<p>
  <b>Final ori:</b>
  <%=h @planesrespaldo.final_ori %>
</p>

<p>
  <b>Mora:</b>
  <%=h @planesrespaldo.mora %>
</p>

<p>
  <b>Diasmora:</b>
  <%=h @planesrespaldo.diasmora %>
</p>

<p>
  <b>Moraacum:</b>
  <%=h @planesrespaldo.moraacum %>
</p>

<p>
  <b>Morapendiente:</b>
  <%=h @planesrespaldo.morapendiente %>
</p>

<p>
  <b>Fecha pago:</b>
  <%=h @planesrespaldo.fecha_pago %>
</p>

<p>
  <b>Valor pagar:</b>
  <%=h @planesrespaldo.valor_pagar %>
</p>


<%= link_to 'Edit', edit_planesrespaldo_path(@planesrespaldo) %> |
<%= link_to 'Back', planesrespaldos_path %>