<p>
  <b>Anno:</b>
  <%=h @tasassimulacion.anno %>
</p>

<p>
  <b>Mes:</b>
  <%=h @tasassimulacion.mes %>
</p>

<p>
  <b>Tasa:</b>
  <%=h @tasassimulacion.tasa %>
</p>


<%= link_to 'Edit', edit_tasassimulacion_path(@tasassimulacion) %> |
<%= link_to 'Back', tasassimulaciones_path %>