<p>
  <b>Persona:</b>
  <%=h @personasgiro.persona_id %>
</p>

<p>
  <b>Obligacion:</b>
  <%=h @personasgiro.obligacion %>
</p>

<p>
  <b>Fecha aprobacion credito:</b>
  <%=h @personasgiro.fecha_aprobacion_credito %>
</p>

<p>
  <b>Fondo recursos:</b>
  <%=h @personasgiro.fondo_recursos %>
</p>

<p>
  <b>Modalidad:</b>
  <%=h @personasgiro.modalidad %>
</p>

<p>
  <b>Fecha leg ren:</b>
  <%=h @personasgiro.fecha_leg_ren %>
</p>

<p>
  <b>Fecha giro:</b>
  <%=h @personasgiro.fecha_giro %>
</p>

<p>
  <b>Valor giro:</b>
  <%=h @personasgiro.valor_giro %>
</p>

<p>
  <b>Entidad que gira:</b>
  <%=h @personasgiro.entidad_que_gira %>
</p>

<p>
  <b>Soporte giro:</b>
  <%=h @personasgiro.soporte_giro %>
</p>

<p>
  <b>Beneficiario giro:</b>
  <%=h @personasgiro.beneficiario_giro %>
</p>

<p>
  <b>Es giro adicional:</b>
  <%=h @personasgiro.es_giro_adicional %>
</p>

<p>
  <b>Estado actual:</b>
  <%=h @personasgiro.estado_actual %>
</p>

<p>
  <b>Motivo estado:</b>
  <%=h @personasgiro.motivo_estado %>
</p>

<p>
  <b>Fecha inicio estado:</b>
  <%=h @personasgiro.fecha_inicio_estado %>
</p>

<p>
  <b>Fecha finalizacion estado:</b>
  <%=h @personasgiro.fecha_finalizacion_estado %>
</p>


<%= link_to 'Edit', edit_personasgiro_path(@personasgiro) %> |
<%= link_to 'Back', personasgiros_path %>