<p>
  <b>Numero:</b>
  <%=h @acta.numero %>
</p>

<p>
  <b>Fecha:</b>
  <%=h @acta.fecha %>
</p>

<p>
  <b>Temas:</b>
  <%=h @acta.temas %>
</p>


<%= link_to 'Edit', edit_acta_path(@acta) %> |
<%= link_to 'Back', actas_path %>