<p>
  <b>Desembolsospersona:</b>
  <%=h @desembolsosrelacion.desembolsospersona %>
</p>

<p>
  <b>Persona:</b>
  <%=h @desembolsosrelacion.persona %>
</p>

<p>
  <b>Personasobligacion:</b>
  <%=h @desembolsosrelacion.personasobligacion %>
</p>


<%= link_to 'Edit', edit_desembolsosrelacion_path(@desembolsosrelacion) %> |
<%= link_to 'Back', desembolsosrelaciones_path %>