<h1>Editing planesrecaudosdetalle</h1>

<% form_for(@planesrecaudosdetalle) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :planrecaudo_id %><br />
    <%= f.text_field :planrecaudo_id %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.label :valor_aplicado %><br />
    <%= f.text_field :valor_aplicado %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @planesrecaudosdetalle %> |
<%= link_to 'Back', planesrecaudosdetalles_path %>