<p>
  <b>Planrecaudo:</b>
  <%=h @planesrecaudosdetalle.planrecaudo_id %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @planesrecaudosdetalle.tipo %>
</p>

<p>
  <b>Valor aplicado:</b>
  <%=h @planesrecaudosdetalle.valor_aplicado %>
</p>


<%= link_to 'Edit', edit_planesrecaudosdetalle_path(@planesrecaudosdetalle) %> |
<%= link_to 'Back', planesrecaudosdetalles_path %>