<h1>Editing oficinasregistro</h1>

<% form_for(@oficinasregistro) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @oficinasregistro %> |
<%= link_to 'Back', oficinasregistros_path %>