<h1>New oficina</h1>

<% form_for(@oficina) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :municipio_id %><br />
    <%= f.text_field :municipio_id %>
  </p>
  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', oficinas_path %>