<h1>New proceso</h1>

<% form_for(@proceso) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :radicado %><br />
    <%= f.text_field :radicado %>
  </p>
  <p>
    <%= f.label :cui %><br />
    <%= f.text_field :cui %>
  </p>
  <p>
    <%= f.label :delito %><br />
    <%= f.text_field :delito %>
  </p>
  <p>
    <%= f.label :bien %><br />
    <%= f.text_field :bien %>
  </p>
  <p>
    <%= f.label :fecha_ingreso %><br />
    <%= f.date_select :fecha_ingreso %>
  </p>
  <p>
    <%= f.label :fecha_salida %><br />
    <%= f.date_select :fecha_salida %>
  </p>
  <p>
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', procesos_path %>