<p>
  <b>Desembolsosrelacion:</b>
  <%=h @desembolsossimulacion.desembolsosrelacion %>
</p>

<p>
  <b>Nro cuota:</b>
  <%=h @desembolsossimulacion.nro_cuota %>
</p>

<p>
  <b>Cuota:</b>
  <%=h @desembolsossimulacion.cuota %>
</p>

<p>
  <b>Cuota ori:</b>
  <%=h @desembolsossimulacion.cuota_ori %>
</p>

<p>
  <b>Fecha vence:</b>
  <%=h @desembolsossimulacion.fecha_vence %>
</p>

<p>
  <b>Inicial:</b>
  <%=h @desembolsossimulacion.inicial %>
</p>

<p>
  <b>Inicial ori:</b>
  <%=h @desembolsossimulacion.inicial_ori %>
</p>

<p>
  <b>Amortiza:</b>
  <%=h @desembolsossimulacion.amortiza %>
</p>

<p>
  <b>Amortiza ori:</b>
  <%=h @desembolsossimulacion.amortiza_ori %>
</p>

<p>
  <b>Corriente:</b>
  <%=h @desembolsossimulacion.corriente %>
</p>

<p>
  <b>Corriente ori:</b>
  <%=h @desembolsossimulacion.corriente_ori %>
</p>

<p>
  <b>Final:</b>
  <%=h @desembolsossimulacion.final %>
</p>

<p>
  <b>Final ori:</b>
  <%=h @desembolsossimulacion.final_ori %>
</p>

<p>
  <b>Mora:</b>
  <%=h @desembolsossimulacion.mora %>
</p>

<p>
  <b>Diasmora:</b>
  <%=h @desembolsossimulacion.diasmora %>
</p>

<p>
  <b>Moraacum:</b>
  <%=h @desembolsossimulacion.moraacum %>
</p>

<p>
  <b>Morapendiente:</b>
  <%=h @desembolsossimulacion.morapendiente %>
</p>

<p>
  <b>Fecha pago:</b>
  <%=h @desembolsossimulacion.fecha_pago %>
</p>

<p>
  <b>Valor pagar:</b>
  <%=h @desembolsossimulacion.valor_pagar %>
</p>

<p>
  <b>Morames:</b>
  <%=h @desembolsossimulacion.morames %>
</p>

<p>
  <b>Moradiasmes:</b>
  <%=h @desembolsossimulacion.moradiasmes %>
</p>

<p>
  <b>Otros:</b>
  <%=h @desembolsossimulacion.otros %>
</p>

<p>
  <b>Moramesacum:</b>
  <%=h @desembolsossimulacion.moramesacum %>
</p>


<%= link_to 'Edit', edit_desembolsossimulacion_path(@desembolsossimulacion) %> |
<%= link_to 'Back', desembolsossimulaciones_path %>