<h1>New tiposestado</h1>

<% form_for(@tiposestado) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :clasificacion %><br />
    <%= f.text_field :clasificacion %>
  </p>
  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tiposestados_path %>