<p>
  <b>Clasificacion:</b>
  <%=h @tiposestado.clasificacion %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @tiposestado.descripcion %>
</p>

<p>
  <b>Estado:</b>
  <%=h @tiposestado.estado %>
</p>


<%= link_to 'Edit', edit_tiposestado_path(@tiposestado) %> |
<%= link_to 'Back', tiposestados_path %>