<p>
  <b>Plan:</b>
  <%=h @planesaplicacion.plan_id %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @planesaplicacion.tipo %>
</p>

<p>
  <b>Valor:</b>
  <%=h @planesaplicacion.valor %>
</p>


<%= link_to 'Edit', edit_planesaplicacion_path(@planesaplicacion) %> |
<%= link_to 'Back', planesaplicaciones_path %>